node_modules/
.packages/
dist/
.build/
.serverless/
.reallyfx/
coverage/
.DS_Store
*.log
.env
.env.local

packages/backend/node_modules/
packages/frontend/node_modules/
packages/backend/dist/
packages/frontend/dist/
